<head>
    <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    </head>
    <div class="grad">
      <div class="container1">
        <div class="left">
          <div class="scroll">
            <img class="logo" src="http://img05.deviantart.net/cef3/i/2015/122/c/4/dragon_ball_z__dbz__nuevo_logo_by_saodvd-d8rx6aw.png">
            <p><head>
<link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
</head>
<div class="grad">
  <div class="container1">
    <div class="left">
      <div class="scroll">
        <img class="logo" src="http://img05.deviantart.net/cef3/i/2015/122/c/4/dragon_ball_z__dbz__nuevo_logo_by_saodvd-d8rx6aw.png">
        <p>Willkommen auf unserer Dragon Ball Z-Plattform! Tauche ein in die Welt von Goku und seinen Freunden. Hier kannst du durch eine Vielzahl von Charakteren stöbern, ihre Profile erkunden und die faszinierenden Details der Dragon Ball Saga erleben. Lass dich von der Magie dieses Universums verzaubern und entdecke die Helden, ihre Abenteuer und ihre unvergleichlichen Kämpfe. Eine Seite für wahre Dragon Ball Z-Fans!</p>
      </div>
    </div>
  </div>

  <div class="container2">
    <div class="goku">
    </div>
  </div>
  
</div></p>
          </div>
        </div>
      </div>
    
      <div class="container2">
        <div class="goku">
        </div>
      </div>
      
    </div>