<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Naruto Website: Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
    <header id="page-header">
        <!--<div class="website_header">
            <img src="\website\static\images\rasengan_chronicles.png" alt="Header" class="project-image">
        </div>-->
        <h1>Welcome to the Naruto Platform!</h1>
        <p>Immerse yourself in the world of Naruto and his friends...</p>
        <link rel="shortcut icon" href="{{ url_for('static', filename='Naruto_Icon.ico') }}">
    </header>

    <main id="main-content">
        <form action="/search" method="GET" class="input-group mb-3">
            <input type="search" class="form-control form-control-sm" name="search_query" placeholder="Search for Characters" aria-label="Search" width="30%" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary btn-sm" type="submit" role="button">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        </form>
    </main>
    <div class="form-group ml-3">
        <h5 id="search-info">Tip: Searching without text will provide a list of all Naruto/Boruto characters!</h5>
        <form action="/clans" method="GET" class="input-group btn-lg mr-3">
            <button type="submit" class="btn btn-custom btn-lg">Clans</button>
        </form>
        <form action="/kekkeigenkai" method="GET" class="input-group btn-lg mr-3">
            <button type="submit" class="btn btn-custom btn-lg">Kekkei Genkai</button>
        </form>
        <form action="/teams" method="GET" class="input-group btn-lg mr-3">
            <button type="submit" class="btn btn-custom btn-lg">Teams</button>
        </form>
        <form action="/tailed_beasts" method="GET" class="input-group btn-lg mr-3">
            <button type="submit" class="btn btn-custom btn-lg">Tailed Beasts</button>
        </form>
        <form action="/villages" method="GET" class="input-group btn-lg mr-3">
            <button type="submit" class="btn btn-custom btn-lg">Villages</button>
        </form>
    </div>
    <footer id="page-footer">
        <p mb>&copy; 2023 Naruto Project</p>
    </footer>
</body>
</html>
