<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Kekkei Genkai List</title>
    <style>
        .kekkei-genkai-name {
            font-weight: bold;
            font-size: 20px;
            color: #3366ff; /* Change the color as needed */
        }
    </style>
</head>
<body>
    <h1>Kekkei Genkai List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        {% for kekkeigenkai in kekkeigenkai_info['kekkeigenkai'] %}
            <tr>
                <td colspan="2"><h2><span class="kekkei-genkai-name">{{ kekkeigenkai['name'] }}</span></h2></td>
            </tr>
            {% for character in kekkeigenkai['characters'] %}
                <tr>
                    <td>{{ character['name'] }}</td>
                    <td>
                        {% for image in character['images'] %}
                            <img src="{{ image }}" alt="{{ character['name'] }}">
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</body>
</html>
